body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, .products-table {
    padding-left:20px;
}

.products-table {
    width:500px;
    display:flex;
}

.table-header {
    padding-right:50px;
}

td {
    padding-top:20px;
    padding-left:10px;
}

.add-product-form {
    padding-top:50px;
}

form {
    display:flex;
    flex-direction: column;
    max-width:300px;
    gap:5px;
    padding-left:20px;
}