body {
    font-family: 'Montserrat', sans-serif;
    background-color:#222831;
    color: #EEEEEE;
    font-size:16px;
}

.header {
    padding:0 20px 0 20px;
    background: #393E46;
    color: #EEEEEE;
    font-size: 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header-left {
    display:flex;
    gap:30px;
}

h1 {
    margin:10px 0 10px 0;
    color:#bf87ff;
}

.products-table-header {
    text-align:left;
}

.products-table {
    display:flex;
    margin:20px;
    background-color: #393E46;
    padding:30px;
    border-radius: 15px 50px;
    text-align:left;
    border-collapse: collapse;
    font-size:18px;
}
.products-table-wrapper {
    display:flex;
    justify-content: left;
    width:100vw;
}

.product-id, .id-td {
    min-width: 150px;
}

.product-name-header, .name-td {
    min-width:250px;
}

.brand-header, .brand-td {
    min-width: 150px;
}

.price-header, .price-td {
    min-width:150px;
}

tr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color:#EEEEEE;
}

td {
    padding:5px 0 5px 0;
}

.add-product-form {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    gap:5px;
    background-color:#393E46;
    margin:20px;
    padding:30px;
    border-radius: 15px 50px;
    max-height:250px;
}

.name-input-wrapper, .brand-input-wrapper, .price-input-wrapper {
    display:flex;
    flex-direction: column;
}

.delete-button, .add-product-button {
    background-color:#bf87ff;
    color:#222831;
    border-style:none;
    font-weight:bold;
}

.delete-button {
    padding:4px 8px 4px 8px;
    border-radius:9px 4px;
}

.add-product-button {
    padding: 8px;
    border-radius: 50px 15px;
}

input {
    border-style:solid;
    border-color:#222831;
    border-width:3px;
    margin-top:2px;
}